.head{
    width: 100%;
    z-index: 1;
    
}

.head-container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: space-between;
    align-items: center;
}   

.left{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.left i{
    margin-right: 10px
}

.type{
    display: flex;
    justify-content: center;
   
}

.type h2{
    height: 40px;
    padding: 0px 5px 0px 5px;
}

.active{
    background-color: rgb(21, 22, 22);
}

.type h2:hover{
    background-color: #3a3b3c;
    cursor: pointer;
}

.border h2{
    border-left: 3px solid  #3a3b3d;
    border-right: 3px solid  #3a3b3d;
    display: flex;
}

.fa-solid{
    margin-top: 5px;
    margin-left: 1px;
    font-size: 40px;
    background: -webkit-linear-gradient(225deg, rgb(251, 175, 21), rgb(251, 21, 242),             
    rgb(21, 198, 251)) 0% 0% / 300% 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: 2s ease 0s infinite normal none running fontgradient;
    -webkit-animation: fontgradient 10s ease infinite;
    -moz-animation: fontgradient 10s ease infinite;
    animation: fontgradient 10s ease infinite; 
}
@-webkit-keyframes fontgradient {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@-moz-keyframes fontgradient {
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}
@keyframes fontgradient { 
    0%{background-position:0% 92%}
    50%{background-position:100% 9%}
    100%{background-position:0% 92%}
}  

@media (max-width: 797px) {
    .head{
        height: auto;
    }

    .head-container{
        display: block;
    }

    .left{
        text-align: center;
    }
    .right{
        margin: 5px;
    }   
}